.modal-page {
    height: 100%;
    background-color: var(--color-body);

    &__next {
        cursor: pointer;
        &:hover {
          color: rgb(35, 35, 252);
        }
    }

    &__previous {
        cursor: pointer;
        &:hover {
          color: rgb(35, 35, 252);
        }
    }

    &__land-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}
