.modal-page {
    &__main-content {
        background-color: var(--color-body);

    }

    &__land-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}