.modal-page {
  height: 100%;
  background-color: var(--color-body);

  &__next {
    cursor: pointer;

    &:hover {
      color: var(--color-arrows);
    }
  }

  &__previous {
    cursor: pointer;

    &:hover {
      color: var(--color-arrows);
    }
  }

  &__land-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    color: var(--color-icons);
  }

}
