.main-calendar-page {
    &__date-range-section {
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        padding: 1.35rem;
    }

    &__week-range-section {
        border-bottom: 1px solid var(--color-border);
        padding-right: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #858585;
    }


    &__month-range-section {
        height: 37.2rem;
    }

    &__hours {
        padding-bottom: 6rem;
        padding-left: 0.5rem;
        padding-top: 0.2rem;
        font-weight: 500;
    }

    &__chevrons {
        cursor: pointer;
    }

    &__appointment {
        color: #fff;
        background-color: #3e3e3e;
        height: 7.7rem;
        cursor: pointer;
    }

    &__appointment:hover {
        background-color: rgb(44, 44, 238);
    }

    

}