<div class="main-calendar-page">
  <div class="row main-calendar-page__date-range-section">
    <div class="col-6">
      <strong class="fs-5"
        >{{ selectedDate | date: "d" }} - {{ weekDaysArray[6] | date: "d" }}
        {{ selectedDate | date: "MMMM" }}
        {{ selectedDate | date: "y" }}
      </strong>
    </div>
    <div class="col-6 text-end main-calendar-page__chevrons">
      <i class="pi pi-chevron-left me-2" (click)="previousWeek(true)"></i
      ><i class="pi pi-chevron-right" (click)="nextWeek(true)"></i>
    </div>
  </div>
  <div class="row main-calendar-page__week-range-section">
    <div class="col-1"></div>
    <div
      class="col text-center"
      *ngFor="let days of getWeekRange()"
      [id]="days | date: 'd'"
    >
      {{ days | date: "d EE" }}
    </div>
  </div>

  <div class="main-calendar-page__month-range-section overflow-auto">
    <div
      class="row border-top"
      *ngFor="let hours of hoursAndMinutesRangeArray; index as i"
    >
      <div
        class="col-1 border-end main-calendar-page__hours"
        [id]="hours[0] | date: 'HH:mm'"
      >
        {{ hours[0] | date: "HH:mm" }}
        <div
          [id]="minutes | date: 'mm'"
          *ngFor="let minutes of hoursAndMinutesRangeArray[i]"
        >
          <div style="font-size: 0.01rem">{{ minutes | date: "mm" }}</div>
        </div>
      </div>

      <div
        class=" col border-end text-center"
        *ngFor="let days of weekDaysArray; let j = index"
        [id]="days | date: 'd'"
      >
        <ng-container *ngFor="let node of nodes | nodesToArray: hours[0]:days">
          <div class="app-day">
            <div style="color: black; padding-bottom: 4rem; font-weight: bold;" class="text-center pt-2" *ngIf="node.length > 0">
              {{ node.length }} VIEWINGS
            </div>
            <p-avatarGroup *ngIf="node.length > 0"
              class="row main-calendar-page__property-picture-group"
            >
              <ng-container *ngFor="let appointment of node">

                <p-avatar
                  image="{{ appointment.property?.imageUrl }}"
                ></p-avatar>
              </ng-container>
            </p-avatarGroup>
          </div>


        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-2">
                  <img class="avatar" src="{{ appointment.property?.imageUrl }}" />
                </div> -->

<!-- <p-avatar  image="{{ node.property?.imageUrl }}"></p-avatar> -->

<!-- <div
            class="main-calendar-page__appointment"
            *ngIf="
              (node.date | date: 'dd.MM.yyyy') ===
                (days | date: 'dd.MM.yyyy') &&
              (subtractHours(node.date, 2) | date: 'HH:mm') ===
                (hours[0] | date: 'HH:mm')
            "

          >


          </div> -->
<!-- <p-avatarGroup  label="P">
            <p-avatar label="P"></p-avatar>
            <p-avatar icon="pi pi-search"></p-avatar>
            <p-avatar label="user.png"></p-avatar>
            <p-avatar label="+2"></p-avatar>
        </p-avatarGroup> -->
<!-- <div>{{k+1 + '. ' + node.property.name}}</div> -->

<!-- <div
          [ngClass]="{
            'hide-element': !(
              (node.date | date: 'dd.MM.yyyy') ===
                (days | date: 'dd.MM.yyyy') &&
              (subtractHours(node.date, 2) | date: 'HH:mm') ===
                (hours[0] | date: 'HH:mm')
            )
          }"
          class="col-2 ps-2 pb-2"
          *ngFor="let node of nodes"

        >
          <div (click)="openDialog(node, nodes)">
            <img class="avatar" src="{{ node.property?.imageUrl }}" />
          </div>
        </div>
      -->

<!--
      <div class="row">

        <div
        [ngClass]="{
          'hide-element': !(
            (node.date | date: 'dd.MM.yyyy') ===
              (days | date: 'dd.MM.yyyy') &&
            (subtractHours(node.date, 2) | date: 'HH:mm') ===
              (hours[0] | date: 'HH:mm')
          )
        }"
        class="col-2 ps-2 pb-2 pt-2"
        *ngFor="let node of nodes"

      >
        <div (click)="openDialog(node, nodes)">
          <img class="avatar" src="{{ node.property?.imageUrl }}" />

        </div>
      </div> -->
