<div class="main-calendar-page">
  <div class="row main-calendar-page__date-range-section">
    <div class="col-6">
      <strong class="fs-5"
        >{{ selectedDate | date: "d" }} - {{ weekDaysArray[6] | date: "d" }}
        {{ selectedDate | date: "MMMM" }}
        {{ selectedDate | date: "y" }}
      </strong>
    </div>
    <div class="col-6 text-end main-calendar-page__chevrons">
      <i class="pi pi-chevron-left me-2" (click)="previousWeek(true)"></i
      ><i class="pi pi-chevron-right" (click)="nextWeek(true)"></i>
    </div>
  </div>
  <div class="row main-calendar-page__week-range-section">
    <div class="col-1"></div>
    <div class="col text-center" *ngFor="let days of getWeekRange()">
      {{ days | date: "d EE" }}
    </div>
  </div>

  <div class="main-calendar-page__month-range-section overflow-auto">
    <div
      class="row border-top"
      *ngFor="let hours of hoursAndMinutesRangeArray; index as i"
    >
      <div class="col-1 border-end main-calendar-page__hours">
        {{ hours[0] | date: "HH:mm" }}
        <div
          [id]="minutes | date: 'mm'"
          *ngFor="let minutes of hoursAndMinutesRangeArray[i]"
        >
          <div style="font-size: 0.01rem">{{ minutes | date: "mm" }}</div>
        </div>
      </div>
      <div
        class="col text-center border-end"
        *ngFor="let days of weekDaysArray; index as j"
        [id]="i"
      >
        <div class="col" *ngFor="let node of nodes; index as k">
          <div
            *ngIf="
              (node.date | date: 'dd.MM.yyyy') ===
                (days | date: 'dd.MM.yyyy') &&
              (subtractHours(node.date, 2) | date: 'HH:mm') ===
                (hours[0] | date: 'HH:mm')
            "
            (click)="openDialog(node, nodes)"
          >
          

            {{ nodes[i] }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




