<div class="main-calendar-page">
  <div class="row main-calendar-page__date-range-section">
    <div class="col-6">
      <strong class="fs-5"
        >{{ selectedDate | date: "d" }} - {{ lastDay | date : 'd' }}
        {{ selectedDate | date: "MMMM" }}
        {{ selectedDate | date: "y" }}
      </strong>
    </div>
    <div class="col-6 text-end main-calendar-page__chevrons">
      <i class="pi pi-chevron-left me-2" (click)="previousWeek(true)"></i
      ><i class="pi pi-chevron-right" (click)="nextWeek(true)"></i>
    </div>
  </div>
  <div class="row main-calendar-page__week-range-section">
    <div class="col-1"></div>
    <div class="col text-center" *ngFor="let days of getWeekRange()">
      {{ days | date: "d EE" }}
    </div>
  </div>

  <div class="main-calendar-page__month-range-section overflow-auto">
    <div class="row border-top" *ngFor="let hours of getTimeRange(9, 20)">
      <div class="col-1 border-end main-calendar-page__hours">
        {{ hours }}
      </div>
      <div
        class="col text-center border-end"
        *ngFor="let days of getWeekRange()"
      ></div>
    </div>
  </div>
</div>
