<div class="next-viewing-page">
  <h6 class="p-2 fs-5">NEXT VIEWING</h6>
  <!-- <img class="pb-2" width="400px" height="250px" src="assets/images/sample-pic.jpg" alt="" /> -->
  <p-image  src="{{nextView ?.property?.imageUrl}}" alt="Image" height="250" width="400"></p-image>
  <!-- <span class="d-block"></span> -->
  <span class="d-block pt-1 fs-4 fw-bold">{{
    nextView?.property?.name
  }}</span>
  <span class="d-block fs-5 pb-3" style="color: rgb(172, 168, 168)">{{
    nextView?.property?.address?.street +
      " " +
      nextView?.property?.address?.houseNumber +
      ", " +
      nextView?.property?.address?.zipCode +
      " " +
      nextView?.property?.address?.city +
      ", " +
      nextView?.property?.address?.country
  }}</span>
  <div class="row pb-2">
    <div class="col-6 fs-5">
      <i class="pi pi-calendar pe-1" style="color: blue"></i
      >{{ nextView?.date | date: "dd MMMM yyyy" }}
    </div>
    <div class="col-6 fs-5 d-flex align-items-center">
      <i class="pi pi-clock pe-1" style="color: blue"></i>
      {{ subtractHours(nextView?.date,2) | date: "HH:mm" }}
    </div>
  </div>
  <span class="d-block fs-5"><i class="pi pi-user pe-2" style="color: blue"></i
    >{{
    nextView?.attendeeCount + " | " + nextView?.maxInviteeCount
  }}</span>
</div>
