.calendar-page {
    display: flex;
    align-items: center;
    &__main-container {
        background-color: #fff;
    }

    &__dropdowns {
        background-color: #efefef;
    }

    &__main-calendar-page {
        border-right: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        border-left: 1px solid var(--color-border);
    }
}

::ng-deep .p-dropdown {
    width: 22rem;
}

::ng-deep .p-calendar .p-datepicker {
    width: 27.6rem;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.56rem;
}

::ng-deep .p-datepicker table td {
    padding: 0.2rem;
}
